<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#dash">Student Dashboard</a></li>
  <li><a data-toggle="tab" href="#settings">Account Settings</a></li>
</ul>

<div class="tab-content">
  <div id="dash" class="tab-pane fade in active">
    <section class="container-fluid">

    <p class="text-info"><%= notice %></p>

      <div class="row">
        <!-- Takes 3/4 of page -->
        <div class="col-xs-8 col-md-8">
          <h4>Available Quizzes</h4>
          <table class="table table-striped">
          <% @available_quizzes.map do |quiz| %>
            <tr>
              <td><%= link_to quiz.title, quiz_path(quiz) %></td>
            </tr>
          <% end %>
          </table>
        </div>

        <!-- Takes the last 1/4 of page -->
        <div class="col-xs-4 col-md-4">
          <h4>Gradebook</h4>
          <table class="table table-striped">
            <tr>
              <th>Quiz</th>
              <th>Score</th>
            </tr>
            <% @complete_submissions.each do |submission| %>
            <tr>
              <td><a href="<%= submission_path(submission) %>"><%= Quiz.find(submission.quiz_id).title %></a></td>
              <td><%= (submission.correct.to_f / submission.possible.to_f).round(3) * 100 %></td>
            </tr>
            <% end %>
          </table>

        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <h4>Top Scores</h4>
          
        </div>
      </div>
    </section>
  </div>
  <div id="settings" class="tab-pane fade">

  </div>
</div>