<section class="container-fluid">

  <div class="row">
    <h1 class="text-center">Taking Quiz: <%= @quiz.title %></h1>
  </div>

  <div id="quiz_form" class="quiz-edit-form">
  <% @qa_hash.each_with_index do |obj, index| %>
    <div class="row main-form-row">
      <div class="col-md-12 col-xs-12">
        <div class="question">
          <h5><%= obj["question"] %></h5>
          <div class="answersq<%= index %>">   
            <span><input name="answer<%= index %>" type="radio" value="<%= obj["answers"][0] %>"
            <%= "checked" if obj["selection"] == obj["answers"][0] %>>&nbsp;&nbsp;<%= obj["answers"][0] %></span>
            <br>
            <span><input name="answer<%= index %>" type="radio" value="<%= obj["answers"][1] %>"
            <%= "checked" if obj["selection"] == obj["answers"][1] %>>&nbsp;&nbsp;<%= obj["answers"][1] %></span>
            <br>
            <span><input name="answer<%= index %>" type="radio" value="<%= obj["answers"][2] %>"
            <%= "checked" if obj["selection"] == obj["answers"][2] %>>&nbsp;&nbsp;<%= obj["answers"][2] %></span>
            <br>
            <span><input name="answer<%= index %>" type="radio" value="<%= obj["answers"][3] %>"
            <%= "checked" if obj["selection"] == obj["answers"][3] %>>&nbsp;&nbsp;<%= obj["answers"][3] %></span>
            <br>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    <div class="row">
      <div class="col-md-12">
        <button id="submit-btn" type="button" class="btn btn-primary btn-sm btn-block">Submit quiz</button>
        <button id="save-btn" type="button" class="btn btn-default btn-sm btn-block">Save quiz</button>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  submitBtn = document.getElementById('submit-btn');
  saveBtn = document.getElementById('save-btn');
  quizViewer = new QuizViewer('<%= raw(@qa_hash.to_json) %>', document.getElementById('quiz_form'));

  submitBtn.addEventListener('click', function(event) {
    quizViewer.submitQuiz(`<%= submission_path(@submission) %>`, <%= @quiz.id %>, `<%= token_tag nil %>`);
  });

  saveBtn.addEventListener('click', function(event) {
    quizViewer.saveQuiz(`<%= submission_path(@submission) %>`, <%= @quiz.id %>, `<%= token_tag nil %>`);
  })
</script>