<h1>Submissions#show</h1>
<p>Find me in app/views/submissions/show.html.erb</p>


<p>
  <strong>Quiz:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @book.url %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
