<section class="container-fluid">
  <div class="row ruby">
    <h1 class="text-center">Showing results for: <%= @quiz.title %></h1>
    <p class="text-center result-text">
    Your Score is:
    <%=((@submission.correct.to_f / @submission.possible.to_f).round(3) * 100.0).to_s + "%" %>
    </p>
  </div>

  <form id="quiz_form">
  <% @qa_hash.each_with_index do |obj, index| %>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="question">
          <h5><%= obj["question"] %></h5>
          <ul>
            <li><%= obj["answers"][0] %></li>
            <li><%= obj["answers"][1] %></li>
            <li><%= obj["answers"][2] %></li>
            <li><%= obj["answers"][3] %></li>
          </ul>
          <span class="btn btn-info btn-xs">Correct Answer:
              <%= obj["correct"] %>
          </span>

          <% if obj["selection"] == obj["correct"] %>
          <span class="btn btn-success btn-xs">Your Answer:
              <%= obj["selection"] %>
          </span>
          <% else %>
          <span class="btn btn-danger btn-xs">Your Answer:
              <%= obj["selection"] %>
          </span>
          <% end %>

        </div>
      </div>
    </div>
    <br>
  <% end %>
  </form>
</section>

