<div class="ruby">

</div>

<div class="Whole_body">

<section class="container-fluid">
  <div class="row">
    <h1 class="text-center">Showing Quiz: <%= @quiz.title %></h1>
  </div>
  <form id="quiz_form">
  <% @qa_hash.each_with_index do |obj, index| %>
    <div class="row">
      <div class="col-md-12 col-xs-12">
      <div class="question">
        <h5><%= obj["question"] %></h5>
        <div class="radio">
          <label>
            <input name="answer<%= index %>" type="radio">
            <%= obj["answers"][0] %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="answer<%= index %>" type="radio">
            <%= obj["answers"][1] %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="answer<%= index %>" type="radio">
            <%= obj["answers"][2] %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="answer<%= index %>" type="radio">
            <%= obj["answers"][3] %>
          </label>
        </div>
        <div class="btn btn-success">
          <label>
            <name="correct<%= index %>"id="correct_answer" type="checked"> Correct Answer <br><br>
            <%= obj["correct"] %>
          </label>
        </div>

        <div class="btn btn-info">
          <label>
            <name="user_answer<%= index %>" type="select">Your Answer
            <br><br>
            <%= obj["selection"] %>
          </label>
        </div>

      </div>
      </div>
    </div>
  <% end %>
  </form>
</section>

<p class="text-center">
Your Score is:
 <%=(@submission.correct.to_i / @submission.possible.to_i) %>
 </p>
</div>
